body {
    margin: 0 0;
    font-family:  "Dancing Script", sans-serif;
    background-color: rgba(179, 147, 126, 0.927);
}

.container {
    margin: 0px;   
}
.header {
    margin: 0px;
    margin-bottom: -45px;

}

.nav {
    color: rgb(60, 50, 40);
    text-decoration: none;
    position: relative;
    top: -15px;
    object-position: center;
    vertical-align: text-bottom;
    font-weight: 700;
    font-size: 14px;
}


.header-line {
    padding-top: 25px;
    display: flex;
    margin: 0px;
    padding-bottom: -20px;
}

a {
    color: rgb(60, 50, 40);
    text-decoration: none;
    position: relative;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
    object-position: center;
    font-weight: 700;
    font-size: 18px;
}


.background-login {
    padding-top: -10px;
    margin: 0;
    background-image: url(1.jpg); 
    height: 110vh;
    background-repeat: round;
    background-size: 30%;
    margin-bottom: -20px;
}
.container-fb-form {
    margin: 0 30%;
    color: rgba(179, 147, 126, 0.927);
    margin-top: 40px;
    padding-left: 0px;
    padding-top: 0px;
    background-color: rgb(86, 72, 63);
    background-size: cover;
    width: 40%;
    position:relative;
    top: 100px;
    text-align: center;
}
.elements-fb {
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 1.5;
    padding-top: 5px;
}

footer {
    margin-bottom: 0;
    position: relative;
    bottom: 5px;
}

.down-line {
    height: 2vh;
    padding-top: 38px;
    display: flex;
    align-items: center;
    background-size: cover;
    padding-bottom: 2%;
}
.bottom-items {
    color: rgb(60, 50, 40);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    bottom: -20px;
}

.info {
    color: rgb(60, 50, 40);
    text-decoration: none;
    margin-right: 5px;
    margin-left: 50px;
    object-position: center;
    font-weight: 700;
    font-size: 14px;
}